BOT_TOKEN=REPLACE_ME

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app

DAX_MSSQL_HOST=your-mssql-host
DAX_MSSQL_PORT=1433
DAX_MSSQL_USER=sa
DAX_MSSQL_PASSWORD=your-password
DAX_MSSQL_DB=DAX
DAX_MSSQL_ENCRYPT=disable

LOG_LEVEL=debug
ENABLE_INITDATA_MOCK=true

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=admin

LOKI_URL=http://host.docker.internal:3100/loki/api/v1/push
